* {
  margin: 0;
  padding: 0;
}

.content {
  padding: 100px;
  padding-top: 10px;
}
.one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
}
.content .one p {
  padding: 40px;
  padding-top: 10px;
  font-size: 24px;
}

.two{
    margin-top: 40px;
}
.two h2{
    font-size: 30px;
}
.two ol li{
    margin-top: 20px;
    font-size: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.form-item{
    display: flex;
    gap: 80px;
}
.form-item p{
    font-size: 20px;
    margin: 0;
}
button{
    width: 80px;
    align-self: center;
}
